<h3>Pragmatic Store Order Failure</h3>

<p>Unfortunately we must inform you that we were unable to process you order.</p>
<br>
<p>Please try again and make sure you enter valid payment information.</p>